---
layout: default
title: 标签
permalink: /tags/
---

<div class="tags-page">
  <h1 class="page-heading">文章标签</h1>
  
  <div class="tags-cloud">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      <a href="{{ tag[0] | prepend: '/tags/' | relative_url }}" class="tag-cloud-item" data-count="{{ tag[1].size }}">
        #{{ tag[0] }} <span class="tag-count">({{ tag[1].size }})</span>
      </a>
    {% endfor %}
  </div>
  
  <div class="tags-list">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      <div class="tag-item">
        <h2 class="tag-title">
          <a href="{{ tag[0] | prepend: '/tags/' | relative_url }}">#{{ tag[0] }}</a>
          <span class="post-count">({{ tag[1].size }})</span>
        </h2>
        
        <div class="tag-posts">
          {% for post in tag[1] limit:3 %}
            <article class="post-item">
              <h3 class="post-title">
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h3>
              <div class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y年%m月%d日" }}</time>
                {% if post.categories != empty %}
                  • 分类: 
                  {% for category in post.categories %}
                    <a href="{{ '/categories/' | append: category | relative_url }}" class="post-category">{{ category }}</a>
                    {% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                {% endif %}
              </div>
              <div class="post-excerpt">
                {{ post.excerpt | strip_html | truncatewords: 30 }}
              </div>
            </article>
          {% endfor %}
          
          {% if tag[1].size > 3 %}
            <a href="{{ tag[0] | prepend: '/tags/' | relative_url }}" class="view-all-posts">
              查看所有 {{ tag[1].size }} 篇文章 <i class="fas fa-arrow-right"></i>
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>